<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <div class="w3-bar w3-black">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            <a href="/status" class="w3-bar-item w3-button">Status</a>
            <a href="/peerList" class="w3-bar-item w3-button">Peer List</a>
            <a href="/debug" class="w3-bar-item w3-button">Debug</a>


            <div class="w3-dropdown-hover">
            <button class="w3-button">Block</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/block/all" class="w3-bar-item w3-button">Display Blocks</a>
                    <a href="/block/request" class="w3-bar-item w3-button">Request Block</a>
                    <a href="/block/topHashChain" class="w3-bar-item w3-button">Request Tophash</a>
                    <a href="/block/submit" class="w3-bar-item w3-button">Submit Block</a>
                    <a href="/block/generateBlocks" class="w3-bar-item w3-button">Generate Blocks</a>
                </div>
            </div>

            <div class="w3-dropdown-hover">
            <button class="w3-button">Action</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/connect" class="w3-bar-item w3-button">Connect</a>
                    <a href="/initiateSync" class="w3-bar-item w3-button">Initiate Sync</a>
                </div>
            </div>

        </div>
        {% endblock %}

        {% block body %}{% endblock %}

    </body>
</html>
