<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <div class="w3-bar w3-black">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            <a href="/status" class="w3-bar-item w3-button">Status</a>
            <a href="/blocks" class="w3-bar-item w3-button">Blocks</a>
            <a href="/submit/block" class="w3-bar-item w3-button">Submit Block</a>
            <a href="/peerList" class="w3-bar-item w3-button">Peer List</a>
        </div>
        {% endblock %}

        {% block body %}{% endblock %}

    </body>
</html>
