<!DOCTYPE html>
<html>
    <head>
        <title>
            Blocks
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3.css')}}">
    </head>
    <body>
        <div class="w3-bar w3-black">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            <a href="/status" class="w3-bar-item w3-button">Status</a>
            <a href="/blocks" class="w3-bar-item w3-button">Blocks</a>
            <a href="/submit/block" class="w3-bar-item w3-button">Submit Block</a>
        </div>

        <div class="w3-container w3-indigo w3-center">
            <h1>Current Blockchain</h1>
        </div>

        <div class="w3-container">
            {% for block in blockchain %}
                <div class="w3-card-4" style="display: block; margin: 16px auto; width: 45%">
                    <div class="w3-container w3-blue w3-padding w3-center w3-blue">
                        <h2>Block</h2>
                    </div>
                    <div class="w3-container w3-padding w3-blue-grey">
                        <!--
                        {% for key in block %}
                            <span><strong style="display: inline-block; width: 17%">{{key}}</strong></span>: {{block[key]}} <br>
                        {% endfor %}
                        -->
                        {% for key in block_display_order %}
                            <span><strong style="display: inline-block; width: 17%">{{key}}</strong></span>: {{block[key]}} <br>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

    </body>
</html>
