{% extends "base.html" %}

{% block title %}Peer List{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3-theme-deep-purple.css')}}">
{% endblock %}

{% block body %}
    <div class="w3-container w3-theme-d2 w3-center">
        <h1>Peer List</h1>
    </div>
    <table class="w3-card-4 w3-table w3-striped w3-centered" style="margin: 25px auto; width: 45%">
        <tr>
            <th class="w3-theme"><h2>Peer IP</h2></th>
        </tr>
        {% for item in peerList %}
        <tr>
            <td>{{item}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
