<!DOCTYPE html>
<html>
    <head>
        <title>
            Append block
        </title>
        <style>
            .form-element {
                display: inline-block;
                width: 10%
            }
        </style>
    </head>
    <body>
        <form action="" method="POST">
            <div class="form-element">Data:</div><input type="text" name="data" value="Some data"><br>
            <div class="form-element">Previous Hash:</div><input type="text" name="previous_hash" value="Some previous hash"><br>
            <div class="form-element">Difficulty:</div><input type="number" name="difficulty" value=2><br>
            <div class="form-element">Nonce:</div><input type="number" name="nonce" value=0><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
